

.row{
    display: flex;
    align-items: center;
    /* margin: 10px; */
}

.block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.Container{
    margin-left: 50px;
}